@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Courgette);
h1 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 40px;
    color: #ba3f38;
    text-align: center;
    margin-bottom: 8%;
    font-family: Courgette;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(4.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    font-family: cursive;
    color: #FFFFFF;
}

#container {
    margin: 20px auto;
    width: 600px;
    height: 500px;
    color: #fffefe;
    top: 52.5%;
    left: 50%;
    padding: 60px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 15px 15px 100px #000;
}

#start {
    font-size: 2.5em;
    font-family: Courgette;
    font-weight: bolder;
    word-break: break-all;
    width: 150px;
    height: 150px;
    border: 5px solid #003366;
    border-radius: 100%;
    position: absolute;
    left: 220px;
    top: 145px;
    text-align: center;
    cursor: pointer;
    color: #FF6600;
}

#start:hover {
    border: 5px solid lightseagreen;
    color: lightseagreen;
}

#question {
    width: 550px;
    height: 120px;
    top: 50px;
    position: absolute;
    font-family: cursive;
    color: #de822f;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

#question p {
    margin: 0;
    font-family: cursive;
    font-size: 1.25em;
}

#choices {
    width: 600px;
    position: absolute;
    right: 25;
    top: 160px;
    left: 17%;
    padding: 10px;
    font-size: 18px;
    font-family: Segoe UI;
}

.choice {
    display: inline-block;
    width: 370px;
    text-align: center;
    border: 2px;
    border-color: #00A86B;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
}

.choice:hover {
    border: 4px;
    border-color: white;
    background-color: #00A86B;
    border-style: solid;
}

#progress {
    width: 50px;
    position: absolute;
    bottom: 25px;
    right: 55px;
    padding: 5px;
    text-align: center;
}

.prog {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
}

#scoreContainer {
    background-color: white;
    opacity: 0.95;
    border-radius: 5px;
    width: 600px;
    height: 400px;
    top: 10%;
    left: 0%;
    box-shadow: 0px 5px 15px 0px;
    position: absolute;
    display: none;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #35281E
}